@media only screen and (max-width:1210px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width:1119px){
    .main-box{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0%;
    }
    .secondHalf img {
        margin: auto;
        width: 80%;
        
    }
    .firstHalf {
        width: 82%;
        text-align: left;
        padding: 20px;
    }
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 570px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav div a{
        text-align: center;
    }
    .rightNav {
        justify-content: center;
    }
    .rightNav div{
        text-align: center;
        
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
        
    }
    .v-nav{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .linearAnimate {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .parag{
        padding: 0%;
    }
    .icon img{
        width: 140px;
    }
    .project{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width:815px){
    .gitHubStats {
        flex-direction: column;
    }
    .gitHubStats img{
        width: 100%;
    }
    .project{
        grid-template-columns: repeat(1, 1fr);
    }
    .touch{
        display: grid;
        grid-template-columns: repeat(2,130px);
    }
}
@media only screen and (max-width:574px){
    .grid{
        gap: 15px;
    }
    .icon img{
    
      
        width: 110px;
    }
    .icon {
    
        padding: 18px;
        width: 55%;
    }
    .outerBox{
        background-color: #92bcb5;
        border-radius: 30px;
        padding: 15px 15px;
        align-content: space-around;
        text-align: center;
    } 
}

@media only screen and (max-width:497px){
    
    
  
    .outerBox{
       
        padding: 15px 5px;
       
    } 
}
@media only screen and (max-width:432px){
    
    .outerBox{
       
        padding: 15px 0px;
       
    } 
    .text{
        font-size: 29px;
    }
    
}
@media only screen and (max-width:407px){
    .linearAnimate {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .thumb-img img{
        width: 150px;
    }
    .footer{
        flex-wrap: wrap;
        width: 100%;
    }
    .touch{
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(1,130px);
    }
    .text{
        font-size: 27px;
    }
    
}

@media only screen and (max-width:192px){
 
    .h-nav{
       
        width: 110%;
    }
    .navbar{
        width: 108%;
    }
}
@media only screen and (max-width:184px){
 
    .h-nav{
       
        width: 110%;
    }
    .navbar{
        width: 110%;
    }
}
@media only screen and (max-width:179px){
    .footer{
    
        width: 114%;
    }
    
}
@media only screen and (max-width:179px){
    
    .h-nav{
       
        width: 119%;
    }
    
}
@media only screen and (max-width:172px){
    
    .h-nav{
       
        width: 119%;
    }
    .navbar{
        width: 117%;
    }
}

@media only screen and (max-width:158px){
    .footer{
    
        width: 115%;
    }
    .h-nav{
       
        width: 120%;
    }
}

@media only screen and (max-width:157px){
    .footer{
    
        width: 120%;
    }
    .h-nav{
       
        width: 125%;
    }
    .navbar{
        width: 123%;
    }
}

@media only screen and (max-width:132px){
    .footer{
    
        width: 125%;
    }
    .h-nav{
       
        width: 140%;
    }
    .navbar{
        width: 134%;
    }
}

@media only screen and (max-width:124px){
    .footer{
    
        width: 130%;
    }
    .navbar{
        width: 139%;
    }
}

@media only screen and (max-width:110px){
    .footer{
    
        width: 145%;
    }
    .navbar{
        width: 155%;
    }
}

@media only screen and (max-width:98px){
    .h-nav{
       
        width: 140%;
    }
    .navbar{
        width: 170%;
    }
}