@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    
    z-index: 100;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    
}

.nav-list{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    width: 20%;
    display: flex;
    align-items: center;
    
    /* margin-left: 2%; */
    justify-content: center;
    
}
.logo img{
    width: 30%;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
    
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: system-ui;
}
.nav-list li a:hover{
    color: rgb(78, 141, 141);
}
.rightNav{
    width: 30%;
    justify-content: flex-end;
    display: flex;
}
.rightNav div{
    /* max-width: 37%; */
    font-weight: bold;
    font-size: 18px;
    background-color: blueviolet;
    padding: 20px 25px;
    
    border-radius: 15px;
    margin-right: 3%;
}
.rightNav a{
    text-decoration: none;
    color: white;
    text-align: center;
    
}
.burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;
    cursor: pointer;
}
.line{
    width: 32px;
    background-color: white;
    margin: 5px 3px;
    height: 4px;

}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/logo.gif');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;

}

.main-box{
    width: 70%;
    margin: auto;
    display: flex;
    padding:0% 2%;
    /* height: 80%; */
    justify-content: center;
    align-items: center;
    
}
.firstHalf{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.hand{
    width: 60px;
}
.big-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}
.small-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white;
    line-height: 150%;
}
.secondHalf{
    width: 50%;
}
.secondHalf img{
    width: 494px;
    margin-left: 30px;
    border-radius: 30px;
}
.connect{
    margin-top: 5%;
    
}

.contact button{
    max-width: 37%;
    cursor: pointer;
    margin-top: 5%;
    font-weight: bold;
    font-size: 22px;
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 15px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact a:last-child{
    margin-left: 3%;
}
.section{
    display: flex;
    /* height: 500px; */
    padding: 3% 0%;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 2% auto;
    
}
.thumb-img{
    position: relative;
    
}
.thumb-img img{
    position: relative;
    /* height: 100%; */
    width: 300px;
    z-index: -1;
    border-radius: 23px;
    /* animation: animateUser 6s linear infinite; */
}
@keyframes animateUser {
    50%{
        width: 270px;
        /* top: -90px; */
    }
    
}

.black{
    color: black;
}
.parag{
    padding: 0% 3%;
    overflow: hidden;
}
.left{
    display: flex;
    flex-direction: row-reverse;
}
.justify{
    text-align: justify;
    margin: 2% auto;
    width: 85%;
    color: #92bcb5;
    
}

.icon{
    width: 15%;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    margin: 20px 30px;
    
}
.icon img{
    width: 150px;
    
    display: block;

    
}
.flex{
    display: flex;

}
.center{
    text-align: center;
}
.linearAnimate{
    animation: moveForward 6s linear infinite;
    overflow: hidden;
    animation-direction: alternate;
    
}
@keyframes moveForward {
    0%{
        transform: translateX(30px);
    }
    /* 50%{
        transform: translateY(100%);
    } */
}

.paragStats{
    
    /* margin-top: 3%; */
    display: grid;
    justify-content: center;
    align-items: center;
}

.gitHubStats{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gitHubStats img{
    display: block;
    
}
.project{
    display: grid;
    gap: 0.5%;
    grid-template-columns: repeat(2, 1fr);
}

.cart{
    background-color: black;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5% 2%;
    text-align: center;
    color: white;
    /* margin-bottom: 35%; */
    
}
.cart img{
    border: 5px solid  #92bcb5;
    border-radius: 10px;
    /* width: 80%; */
    display: block;
    
}
.proj{
    width: 80%;
    margin: auto;
}
.git{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 3% auto;
}
.tech img{
    width: 10%;
    margin: 0% 1.5%;
}

.tech{
    display: flex;
    margin: auto;
    justify-content: center;
    color: #92bcb5;
}

.git button{
    background-color: black;
    border: 3px solid #92bcb5;
    
    padding: 3% 4%;
    border-radius: 7px;
}
.git button a{
    color: #92bcb5;
    text-decoration: none;
    font-weight: bold;
}
.cart:hover .proj {
    width: 85%;
    
}
.cart:hover{
    background-color: #92bcb5;
}
.cart:hover .tech{
    color: black;
    
}
.cart:hover .justify{
    color: black;
}

.cart:hover .git button{
    background-color: #92bcb5;
    border: 3px solid white;
}
.cart:hover .git button a{
    color: white;
    
}
.heading{
    text-align: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
}
.footer{
    background-color: black;
    margin-top: 5%;
    width: 96vw;
    padding: 2%;
}
.cyan{
    color: #92bcb5;
}
.conn{
    color: white;
    padding: 16px 20px;
    border: 3px solid #92bcb5;
    border-radius: 15px;
    
}

.touch{
    display: flex;
    margin: auto;
    /* width: 35%; */
    padding: 1%;
    justify-content: space-around;
}
.conn a{
    color: #92bcb5;
    text-decoration: none;
    font-weight: bold;
}
.conn:hover{
    background-color: white;
    border: 3px solid black;
}

.calendar{
    width: 100vw;
}
/* .topMargin{
    margin-top: 10%;
} */
.paddingTopBottom{
    padding: 5% 0%;
}

.conn:hover .conn>a{
    color: black;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}